<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%categories.magento"
            id="pl.mamooth.eclipse.magento">
      </category>
      <wizard
            canFinishEarly="false"
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.module.NewModuleWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            hasPages="true"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.module"
            name="%wizards.new.module"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="true">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.block.NewBlockWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.block"
            name="%wizards.new.block"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.helper.NewHelperWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.helper"
            name="%wizards.new.helper"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.modman.NewModmanWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.modman"
            name="%wizards.new.modman"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.controller.NewControllerWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.controller"
            name="%wizards.new.controller"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.cron.NewCronWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.cron"
            name="%wizards.new.cron"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.model.NewModelWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.model"
            name="%wizards.new.model"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.event.NewEventWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.event"
            name="%wizards.new.event"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.translation.TranslationWizard"
            finalPerspective="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.translation"
            name="%wizards.new.translation"
            preferredPerspectives="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            project="false">
      </wizard>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.wizards.storeconfig.NewStoreConfigWizard"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.wizards.storeconfig"
            name="%wizards.new.storeconfig">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.perspectives.MagentoPerspective"
            name="%perspective.magento">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
         <decorator
            adaptable="true"
            icon="icons/magento_project_decorator.png"
            id="pl.mamooth.eclipse.magento.decorator.project"
            label="%decorator.project.magento"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <description>
            Decoration of Magento project
         </description>
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IProject"/>
               <objectState
                     name="projectNature"
                     value="pl.mamooth.eclipse.magento.Nature"/>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="pl.mamooth.eclipse.magento.Nature"
         name="Magento Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pl.mamooth.eclipse.magento.Nature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pl.mamooth.eclipse.magento.handlers.InsertModelHandler"
            id="pl.mamooth.eclipse.magento.command.InsertModel"
            name="%commands.insert.model">
      </command>
      <command
            defaultHandler="pl.mamooth.eclipse.magento.handlers.InsertHelperHandler"
            id="pl.mamooth.eclipse.magento.command.InsertHelper"
            name="%commands.insert.helper">
      </command>
      <command
            defaultHandler="pl.mamooth.eclipse.magento.handlers.InsertStoreConfigHandler"
            id="pl.mamooth.eclipse.magento.command.InsertStoreConfig"
            name="%commands.insert.storeConfig">
      </command>
      <command
            defaultHandler="pl.mamooth.eclipse.magento.handlers.InsertTranslationHandler"
            id="pl.mamooth.eclipse.magento.command.InsertTranslation"
            name="%commands.insert.translation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.php.core.phpsource.source.EditorContext">
         <menu
               icon="icons/magento.png"
               id="pl.mamooth.eclipse.magento.menus.insert"
               label="%menus.insert">
            <command
                  commandId="pl.mamooth.eclipse.magento.command.InsertModel"
                  label="%commands.insert.model"
                  style="push">
            </command>
            <command
                  commandId="pl.mamooth.eclipse.magento.command.InsertHelper"
                  label="%commands.insert.helper"
                  style="push">
            </command>
            <command
                  commandId="pl.mamooth.eclipse.magento.command.InsertStoreConfig"
                  label="%commands.insert.storeConfig"
                  style="push">
            </command>
            <command
                  commandId="pl.mamooth.eclipse.magento.command.InsertTranslation"
                  label="%commands.insert.translation"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="pl.mamooth.eclipse.magento.command.InsertModel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M">
      </key>
      <key
            commandId="pl.mamooth.eclipse.magento.command.InsertHelper"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+H">
      </key>
      <key
            commandId="pl.mamooth.eclipse.magento.command.InsertStoreConfig"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+C">
      </key>
      <key
            commandId="pl.mamooth.eclipse.magento.command.InsertTranslation"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="pl.mamooth.eclipse.magento">
      </contexts>
   </extension>
 <!--  <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="pl.mamooth.eclipse.magento"
            name="%categories.magento">
      </category>
      <wizard
            category="pl.mamooth.eclipse.magento"
            class="pl.mamooth.eclipse.magento.importWizards.module.ModuleImportWizard"
            icon="icons/magento.png"
            id="pl.mamooth.eclipse.magento.importWizards.module.ModuleImportWizard"
            name="%import.module">
         <description>
            %import.module.description
         </description>
      </wizard>
   </extension> -->
</plugin>
